body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    height: 100vh;
    backdrop-filter: blur(10px);
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
}

.sidebar ul li:hover {
    background: rgba(255, 255, 255, 0.1);
    transform: translateX(5px);
}

.sidebar a {
    text-decoration: none;
    color: white;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
}

.sidebar ul li a:hover {
    color: #f39c12;
}


/* MAIN */
.main {
    flex: 1;
    padding: 30px;
}

.topbar h1 {
    margin-bottom: 30px;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    padding: 25px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}

.card p {
    font-size: 28px;
    font-weight: bold;
}

/* CARD COLORS */
.blue {
    border-left: 5px solid #3498db;
}

.green {
    border-left: 5px solid #2ecc71;
}

.orange {
    border-left: 5px solid #f39c12;
}

.red {
    border-left: 5px solid #e74c3c;
}

/* ALERTS */
.alert-section {
    margin-top: 40px;
}

.alert-box {
    background: rgba(255, 0, 0, 0.2);
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    transition: 0.3s;
}

.alert-box:hover {
    background: rgba(255, 0, 0, 0.4);
}

.no-alert {
    background: rgba(0, 255, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
}


/* chart table */

.vote-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
}

.vote-table th,
.vote-table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.vote-table th {
    background: rgba(255, 255, 255, 0.1);
}

.vote-table tr:hover {
    background: rgba(255, 255, 255, 0.08);
}